body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40px;
    margin-right: 10px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    margin: 20px 0;
    color: #333;
}

.rental-container, .approval-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.rental-item, .approval-item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

.rental-item img, .approval-item img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.expired {
    color: red;
    font-size: 12px;
}

.returned {
    color: green;
    font-size: 12px;
}

.pending {
    color: orange;
    font-size: 12px;
}

.cek-alat {
    margin-top: 15px;
    padding: 10px 20px;
    background: #d3d3d3;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
}
.btn-wide {
    width: 100%;
    max-width: 900px;
    padding: 12px ;}

@media (max-width: 576px) {
    .card {
        padding: 8px;
    }
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 14px;
    }
    .btn {
        width: 100%;
    }
}